<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
</head>
<body class="bg-success p-2 text-white bg-opacity-50">
    <div class="container-fluid text-center bg-success p-2 text-dark bg-opacity-25">
        <h1>Кто и зачем?</h1>
        <p>Давайте вкратце я расскажу о себе!</p>
        <p>Меня зовут Максим и я уже около полгода учу программирование, чтобы устроиться fullstack dev-ом.</p>
        <p>Пишу на курсах различные программы, и эта не исключение.</p><br>
        <p class="blockquote-footer"><cite title="Source Title">Генератор паролей - очень нужная вещь, когда вам необходимо придумать пароль, который может состоять из различных элементов</cite></p>
        <a href="{% url 'home' %}">На главную</a>
    </div>
</body>
</html>